body{
    background: #eee;
}

.card{
    width: 250px;
    border-radius: 15px;
    border:1px solid black;
    padding:20px;
    background: #fff;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5)
}

.card > h1{
    text-align: center;
}

.model{
    display:none;
}

#excluir{
    align-self: right;
    margin:0;
}