doctype html
html(lang="pt-br")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Escola ACME
        link(rel='stylesheet', href='style.css')
        link(rel='shortcut icon', href='icone.png')
    body
        header
            h1 Escola ACME
        main
            nav
                button(onclick="window.location.href='/'") Turmas
                button(onclick="window.location.href='/aluno'") Alunos
                button(onclick="window.location.href='/professor'") Professores
            div(class="container")
                table
                    thead
                        tr
                            th Id
                            th Nome Completo
                            th Especialidade
                            th Turmas
                    tbody
                        each professor in professores
                            tr
                                td= professor.id
                                td= professor.nome
                                td= professor.especialidade
                                td= professor.idTurma 

    footer
        button(onclick="modalProfessor.classList.remove('oculto')") Novo(a) professor(a)
            h2 Por mim
        div(class="modal oculto", id="modalProfessor")
            div(class="form")
                div 
                    h2 Cadastro de professor
                    button(onclick="modalProfessor.classList.add('oculto')") X
                form(method="post", action="./professor")
                    label Nome:
                    input(type="text", name="nome", placeholder="Digite o nome do(a)professor(a)", required)
                    label Especialidade: 
                    input(type="text", name="especialidade", placeholder="Especialidade", required)
                    label Turma: 
                    input(type="number", name="idTurma", placeholder="ID da turma que leciona", required)
                    input(type="submit", value="Cadastrar novo(a) professor(a)")