*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caixa-maior{
    width: 450px;
    opacity: 0.8;
    background: #7c7c7c2b;
    color: #ffffff;
}