:root{
    --preto: #000000;
    --branco: #FFFFFF;
    --laranja: #F38F00;
    --laranjaclaro: #ffbc5e;
    --vermelho: #7F0000;
    --botoes: #c8c8c8;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 20%;
    border:2px inset var(--vermelho);
    padding:20px;
    border-radius: 20px;
    margin-top: 10px;
}

header form{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

header form div{
    width: 20%;
    display: flex;
    flex-direction: column;
    padding:10px;
}

header > form >  div > label{
    margin:0 0 5px 10px;
}

.acao{
    width: 10%;
}

.acao input{
    padding:0;
    cursor: pointer;
    border:none;
    background-color: var(--botoes);
    cursor: pointer;
    font-weight: bold;
}

header form div input{
    height: 30px;
    border-radius:10px;
    border: 0.5px solid var(--laranja);
    width: 100%;
    padding:10px
}

input:focus{
    outline:none;
}

main .container-tabela{
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

main table {
    width: 100%;
    border-collapse: collapse;
}

main {
    border: 2px solid var(--vermelho);
    display: flex;
    justify-content: center;
    height: 70%;
    width: 95%;
    border-radius: 20px;
    padding: 20px;
    margin: 10px 0;
}


th{
    font-size:20px;
    background-color: var(--branco)
}

td{
    padding: 5px;
}

.botoes{
    text-align: center;
}

table button{
    width: 20%;
    height: 25px;
    border-radius: 5px;
    border:none;
    font-size:18px;
    cursor: pointer;
    background-color: var(--botoes);
}

tr:nth-child(odd){
    background-color: var(--laranja);
}

tr:nth-child(even){
    background-color: var(--laranjaclaro);
}

footer{
    width: 95%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border:2px outset var(--vermelho);
    border-radius: 20px;
    padding:20px;
    margin-bottom:10px
}

.sistema{
    width: 55%;
}

.sistema input{
    width: 100%;
    height: 30px;
    border: 0.5px solid var(--laranja);
    border-radius: 5px;
    background-color: silver;
    font-weight: 800;
    padding:5px
}

.total{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.total input{
    height: 30px;
    width: 60%;
    border: 0.5px solid var(--laranja);
    padding:10px;
    border-radius: 5px;
}

.modal{
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 15vh;
    z-index: 10;
}

.modal button{
    border-radius: 10px;
    border:1px solid var(--laranja);
    width: 100px;
    height: 40px;
    cursor: pointer;
}

.janela{
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    border-radius: 5px;
    padding: 20px;
    position: relative;
}

#confirma{
    background-color: rgb(255, 0, 0);
    color:white;
}

#confirma:hover{
    background-color: rgba(255,0,0,0.8);
}

.fechar{
    background-color: gray;
    color:white
}

.fechar:hover{
    background-color: rgba(128,128,128,0.8);
}

.oculto {
    display: none;
}